.Sobre {
  background-color: var(--Cinza);
  font-size: 30px;
  border-collapse: collapse;
  margin-left: 2.6%;
  margin-right: 2.6%;
  border-radius: 15px;
}
.Sobre td {
  padding: 20px;
}
.Sobre img {
  width: 100%;
  
}
.title__3 {
  text-align: center;
}
.Sobre__img {
    height: 600px;

}

