@import url("Css/Header.css");
@import url("Css/Letreiro.css");
@import url("Css/Comparativo.css");
@import url("Css/Footer.css");



:root{
    --Cor--principal: #222831;
    --Cor--segundaria : #393E46;
    --cor--terciaria : #EEEEEE;

}











